/*.example-one {
      background: #9f72e6;
      font-size: 19px;
      color: #fff;
      margin-bottom: 50px;
      padding: 10px 20px;
    }*/

    .example-one {
      font-size: 19px;
      margin-bottom: 10px;
    }
